<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>User Login</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/dark_bg.css' %}">
    <style type="text/css">
      .text-overflow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 500px;
      }
    </style>

  </head>

  <body>
    <div class="container">
      <div id="login">
        <h1>spotify-lib-vis</h1>
        <a href="{% url 'login:spotify_login' %}" class="btn btn-primary" role="button">Login</a>
		<a href="{% url 'login:admin_graphs' %}" class="btn btn-primary">Admin Graphs</a>
      </div>
    </div>
  </body>
</html>
