<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>User Login</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'spotifyvis/css/dark_bg.css' %}">
    <style type="text/css">
      .text-overflow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 500px;
      }
    </style>

  </head>

  <body>
    <div class="container">
      <div id="login">
        <h1>spotify-lib-vis</h1>
        <a href="/login" class="btn btn-primary">Scan Library</a>
		<a href="/test_db" class="btn btn-primary">Test DB</a>
      </div>

      <div id="data-container">
        <ul id="data-list">

        </ul>
      </div>
    </div>


    <script src="{% static 'spotifyvis/scripts/index.js' %}"></script>
  </body>
</html>
