<!DOCTYPE html>
{% load static %}
{% load sass_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artist Graphs</title>
    <link rel="stylesheet" href="{% sass_src 'scss/custom.scss' %}">
</head>
<body>
    <script src="https://d3js.org/d3.v5.js"></script>
    <script src="{% static "graphs/scripts/artist_graph.js" %}"></script>
    <script>
        d3.json("{% url "api:get_artist_data" user_secret %}").then(function(data) {
            // this is the data format needed for bubble charts
            data = {
                children: data
            };
            drawArtistGraph(data, "body");
        });
    </script>

</body>
</html>
