<!DOCTYPE html>
{% load static %}
{% load sass_tags %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Artist Graphs</title>
  <link rel="stylesheet" href="{% sass_src 'scss/custom.scss' %}">
  <link rel="stylesheet" href="{% sass_src 'graphs/sass/responsive_graph.scss' %}">
  <link rel="stylesheet" href="{% sass_src 'graphs/sass/max-height.scss' %}">
</head>
<body>
  <div class="container-fluid">
  </div>
  <script src="https://d3js.org/d3.v5.js"></script>
  <script src="{% static "graphs/scripts/artist_graph.js" %}"></script>
  <script>
    d3.json("{% url "api:get_artist_data" user_secret %}").then(function(data) {
      // this is the data format needed for bubble charts
      data = {
        children: data
      };
      {% comment %} drawArtistGraph(data, "body"); {% endcomment %}
      drawArtistGraph(data, ".container-fluid");
    });
  </script>
</body>
</html>
