<!DOCTYPE html>
{% load static %}
{% load sass_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logged In</title>
    <link rel="stylesheet" href="{% sass_src 'scss/custom.scss' %}">
</head>
<body>
	<h1>{{ user_id }}'s Graphs</h1>
	<a class="btn btn-primary" href="{% url "graphs:display_audio_features" user_secret %}"
		role="button">Audio Features</a>
    <a class="btn btn-primary" href="{% url "graphs:display_genre_graph" user_secret %}"
		role="button">Genres</a>
    <a class="btn btn-primary" href="{% url "graphs:display_artist_graph" user_secret %}" role="button">
        Artists
    </a>
    <a class="btn btn-primary" href="{% url "graphs:display_history_table" %}" role="button">
        History
    </a>
</body>
</html>
